/frontend/node_modules
/frontend/dist
/frontend/.env
/backend/.env
/backend/node_modules
/backend/dist

/backend/.dev.vars
/backend/.DS_Store
.DS_Store
/common
# Change them to your taste:
backend/package-lock.json
frontend/package-lock.json
/frontend/src/config.ts